DATABASE_URL=postgresql://postgres:XFjFFJG4hv#_feb@db.fczfelkygnnwebxjgjga.supabase.co:5432/postgres
JWT_SECRET=un_secreto_largo_y_seguro_aqui_minimo_32_caracteres
JWT_EXPIRES_IN=7d
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173